<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{NAME}} - Cover Letter</title>
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1>{{NAME}}</h1>
        <div class="subtitle">{{TITLE}}</div>

        <div class="contact">{{EMAIL}} | {{PHONE}} | {{LOCATION}}</div>
      </header>

      <section class="section">
        <p class="paragraph">{{GREETING}}</p>
        <p class="date">{{DATE}}</p>
        <p class="paragraph">{{INTRO}}</p>

        <p class="paragraph">{{BODY}}</p>

        <p class="paragraph">{{CLOSING}}</p>

        <p class="signature">
          Com os melhores cumprimentos,<br /><br />
          <strong>{{NAME}}</strong>
        </p>
      </section>
    </div>
  </body>
</html>
